{
    "plugins": [
    ["module-resolver", {
        "root": ["./src/**/components", "./src/pages"]
    }]],
    "presets": [
      ["es2015", {"modules": false}],
      "react", 
      "stage-2"
    ]
}

