<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
         <div data-role="app">
           <div><%- html %></div>
         </div>
         <script>
            window.__INITIAL_STATE__ = <%- state %>;
          </script>
         <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en,Intl.~locale.es,Array.prototype.includes,fetch,String.prototype.includes"></script>
         <script type="application/javascript" src="/client.js"></script>
    </body>
</html>
